<div class="uk-section uk-padding-small uk-text-small uk-background-secondary uk-light">
  <div class="uk-container uk-container-large uk-position-relative">
    <div class="uk-child-width-expand@s uk-grid-divider" uk-grid>
      <div class="uk-card">
        <h3 class="uk-card-title">LOGO</h3>
      </div>
      <div class="uk-card">
        <ul class="uk-list uk-link-muted">
          <li>
            <a href="/">Item1</a>
          </li>
          <li>
            <a href="/">Item2</a>
          </li>
          <li>
            <a href="/">Item3</a>
          </li>
        </ul>
      </div>
      <div class="uk-card">
        <ul class="uk-list uk-link-muted">
          <li>
            <%= link_to 'http://www.tbn.co.jp' do %>
            <span uk-icon="icon: info"></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
