<% if flash.present? %>
  <div class="uk-card uk-card-default">
    <% if flash[:notice] %>
    <div id="notice-container" class="uk-alert-success uk-animation-fade" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p id='notice'><%= notice %></p>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div id="alert-container"  class="uk-alert-danger uk-animation-fade" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p id="alert"><%= alert %></p>
    </div>
    <% end %>
  </div>
<% end %>
