<div class="uk-container uk-padding">

  <h1 class="uk-h3 uk-heading-bullet">New Todo</h1>

  <ul class="uk-subnav uk-subnav-divider">
    <li>
      <%= link_to 'Back', todos_path, class: 'uk-link-muted' %>
    </li>
  </ul>

  <div class="uk-margin">
  <%= render 'form', todo: @todo %>
  </div>

</div>