<ul class="uk-nav uk-nav-default uk-link-text">
  <li class="uk-nav-header">
    NAV HEADER
  </li>
  <li class="uk-parent">
    <ul>
      <li>
        <%= link_to 'MENU ITEM 1', '#' %>
      </li>
      <li>
        <%= link_to 'MENU ITEM 2', '#' %>
      </li>
    </ul>
  </li>
</ul>

<hr />
